<ul class = "items">
    <% for (var i = 0; i<items.length; i+++) {%>
        <li class = "items">
            <span><%= items[i].name %></span>
            <span><%= items[i].price %></span>
            <span><%= items[i].quantity %></span>
        </li>
        <% } %>
</ul>

